@font-face {
    font-family: 'Gilroy';
    src:  url('fonts/Gilroy-Regular.ttf') format('truetype'),
    url('fonts/Gilroy-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    }
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.ttf') format('ttf'),
    url('fonts/Gilroy-Bold.eof') format('eof');
    font-weight: bold;
    font-style: normal;
    }
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Extrabold.ttf') format('ttf'),
    url('fonts/Gilroy-Extrabold.eof') format('eof');
    font-weight: 800;
    font-style: normal;
    }

$main-color: #75BF7A;    

.container {
    max-width: 1280px;
    margin: 0 auto;
}

body{
    background-color: #F9F9F9;
}

%button_style {
    display: flex;
    flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 5px;
        border: 0px;
        background-color: #000;
        color: #FFF;
        font-family: Gilroy;
        font-size: 25px;
        width: 260px;
        height: 67px;
        font-weight: 800;    
}

@import "./blocks/header";

@import "./blocks/banner";

@import "./blocks/mobile-phone-form";

@import "./blocks/how-works";

@import "./blocks/benefits";

@import "./blocks/footer";
