.how-works {

    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        
         h1 {
            color: #000;
            font-family: Gilroy;
            font-size: 47px;
            font-weight: 800;
        }

         h2 {
            color: $main-color;
            font-family: Gilroy;
            font-size: 47px;
            font-weight: 800;
        }
    }
     p {

        color: #9E9DA2;
        text-align: center;
        font-family: Gilroy;
        font-size: 23px;
        font-weight: 500;
        width: 620px;
        height: 96px;
    }

}

%step {
    display: flex;
    flex-direction: column; 
    padding-bottom: 95px; 

     img {
        width: 61px;
        height: 61px;
    }

     h1 {
        color: #000;       
        font-family: Gilroy;
        font-size: 22px;
        font-weight: 800;
    }

     p {
        color: #9E9DA2;       
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 500;
        width: 290px;
        height: 91px;
        margin:0;
    }
}


.step_left {
    @extend %step;
    align-items: flex-end;
    p {
        text-align: right;
    }
    h1 {
        text-align: right;
    }
    padding-right: 40px;
}

.step_right {
    @extend %step;
    align-items: flex-start;
    p {
        text-align: left;
    }
    h1 {
        text-align: left;
    }
    padding-left: 40px;
}

.steps_column {
    display: flex;
    flex-direction: column;
}

.steps_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}